
body {
    font-family: sans-serif;
    background-image: url("Imagens/index/Fundo.jpg");
}
a {
    font-family: sans-serif;
    color: rgb(199, 66, 176);
    font-size: 200%;
}

       
.imagem-fixa{
    text-align: center
}

.sobrenos{
    text-align: center

}

.contato{
    text-align: left;
    
    margin-left: 5cm;
    margin-bottom: 2cm;
    

}
.instagram{
    text-align: center;
    margin-top: -3cm;
    margin-bottom: 2cm;

}
.receitas{
    text-align: right;
    margin-top: -3cm;
    margin-right: 5cm;
    margin-bottom: 2cm;
    


}
